<%- include('../partials/header'); %>

<%- include('../partials/nav'); %>

<!-- Register Section -->
<main>
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div>
            <%= messages %>
        </div>
    <% } %>
    
    <div class="containerReg">
        <div class="register">
            <h3 class="project-name" style="padding: 20px; font-size: 2.5rem">
                Surveylance
            </h3>
            <label class="regLabel" for="username" style="margin-top: 20px;">USERNAME:</label>
            <input class="regInput" type="text" style="margin-bottom: 25px;"/>
            <label class="regLabel" for="email">EMAIL:</label>
            <input class="regInput" type="email" style="margin-bottom: 25px;"/>
            <label class="regLabel" for="displayName" style="margin-top: 30px;">DISPLAY NAME:</label>
            <input class="regInput" type="text" style="margin-bottom: 25px;"/>
            <label class="regLabel" for="password">PASSWORD:</label>
            <input class="regInput" type="password" style="margin-bottom: 50px;"/>
            <a href="/" class="nav-item nav-item-btn" style="margin-bottom: 25px;">SIGN UP</a></li>
        </div>
    </div>
</main>


<%- include('../partials/footer'); %>

<%- include('../partials/bottom'); %>
